@font-face {
  font-family: 'Morganite';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/morganite/Morganite-LightItalic.ttf')
}

@font-face {
  font-family: 'Morganite';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/morganite/Morganite-Black.ttf')
}

@font-face {
  font-family: 'Morganite';
  font-style: italic;
  font-weight: 800;
  src: url('../fonts/morganite/Morganite-BlackItalic.ttf')
}

@font-face {
  font-family: 'Morganite';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/morganite/Morganite-Bold.ttf')
}

@font-face {
  font-family: 'Morganite';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/morganite/Morganite-BoldItalic.ttf')
}

@font-face {
  font-family: 'Morganite';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/morganite/Morganite-Book.ttf')
}

@font-face {
  font-family: 'Morganite';
  font-style: italic;
  font-weight: normal;
  src: url('../fonts/morganite/Morganite-BookItalic.ttf')
}

@font-face {
  font-family: 'Morganite';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/morganite/Morganite-ExtraBold.ttf')
}

@font-face {
  font-family: 'Morganite';
  font-style: italic;
  font-weight: 900;
  src: url('../fonts/morganite/Morganite-ExtraBoldItalic.ttf')
}

@font-face {
  font-family: 'Morganite';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/morganite/Morganite-ExtraLight.ttf')
}

@font-face {
  font-family: 'Morganite';
  font-style: italic;
  font-weight: 200;
  src: url('../fonts/morganite/Morganite-ExtraLightItalic.ttf')
}

@font-face {
  font-family: 'Morganite';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/morganite/Morganite-Light.ttf')
}

@font-face {
  font-family: 'Morganite';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/morganite/Morganite-Medium.ttf')
}

@font-face {
  font-family: 'Morganite';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/morganite/Morganite-MediumItalic.ttf')
}

@font-face {
  font-family: 'Morganite';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/morganite/Morganite-SemiBold.ttf')
}

@font-face {
  font-family: 'Morganite';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/morganite/Morganite-SemiBoldItalic.ttf')
}

@font-face {
  font-family: 'Morganite';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/morganite/Morganite-Thin.ttf')
}

@font-face {
  font-family: 'Morganite';
  font-style: italic;
  font-weight: 100;
  src: url('../fonts/morganite/Morganite-ThinItalic.ttf')
}